html 
{
    scroll-behavior: smooth;
}

.navbar 
{
    padding: .8rem;
}

.navbar li 
{
    padding-right: 20px;
}

a:hover 
{
     color: #00F
}

#section1
{
    min-height: 600px;
    background: black;
}

#head1
{
    padding-top:90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 130%;
    color: white;
}

#para1
{
    padding-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: white;
}

.img-fluid
{
    padding-top:50px;
    margin: auto;    
    display: block;    
}

#section2
{
    min-height: 500px;
    background: rgb(58, 3, 80);
}

#head2
{
    padding-top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 140%;
    color:white;
}

#para2
{
    padding-top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}

#para3
{
    padding-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}

#gtst
{
    font-size: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

#section4
{
    min-height: 600px;
    background: maroon;
}

#head4
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    color: white;
}

#para5
{
    padding-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: white;
}

#head5
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    color: white;
}

#para6
{
    padding-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
     color:white;
}

#section5
{
    min-height: 600px;
    background: green; 
}

#head6
{
    padding-top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    color:white; 
}

#section6
{
    min-height: 450px;
    background: rgb(107, 62, 3)
}

.accordion 
{
    background-color: rgb(107, 62, 3);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
  
.active, .accordion:hover 
{
    background-color: maroon;
}
  
.accordion:after 
{
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after 
{
    content: "\2212";
}
  
.panel 
{
    padding: 0 18px;
    background-color: rgb(107, 62, 3);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#faq1
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align:center;
    color: pink;
}

#faq2
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align:center;
    color: pink;
}

#faq3
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align:center;
    color: pink;
}

#faq4
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align:center;
    color: pink;
}

#ans1
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: white;
}

#ans2
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: white;
}

#ans3
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: white;
}

#ans4
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: white;
}

#section-footer
{
    min-height: 150px;
    background: #12193B;
}

#footer-text
{
    color: white;
}

#head7
{
    padding-top: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    color: white;
}

#head8
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: white;
}

li a
{
    color: white;
}

.img-fluid2
{
    padding-top:150px;
    margin: auto;    
    display: block;    
}

.new1
{
    border-top: 1px solid white;
}
 
